//MENU
.app__menu
	color: $black;
	display: inline-block;
	height: 100vh;
	width: 240px;
	position: fixed;
	top: 0;
	right: 0;
	overflow-y: auto;

.app__menu-header
	width: 100%;
	height: 60px;
	border-bottom: 1px solid #d0d0d0;
	text-align: center;
	background-color: #fff;

.app__menu-header-button
	font-size: 18px;
	margin: 0 10px 0 10px;
	background-color: rgba(0,0,0,0);
	border: none;
	color: $black;
	font-weight: 700;
	cursor: pointer;
	line-height: 60px;
	+animation_active

.app__menu-header-button:hover
	opacity: .7;

.app__menu-link
	color: $black;
	display: inline-block;
	text-decoration: none;
	width: 100%;
	cursor: pointer;
	padding: 0 10% 0 15%;
	font-size: 17px;
	line-height: 45px;
	margin: 0;
	+animation_active

.app__menu-link:hover
	opacity: .7;

.app__menu-link_active
	color: #fff;
	background-color: $blue;

.app__menu-language
	position: absolute;
	width: 100%;
	border-top: 1px solid #d0d0d0;
	text-align: center;
	left: 0;
	bottom: 0;

.app__menu-language-button
	color: $black;
	background-color: rgba(0,0,0,0);
	border: none;
	font-size: 14px;
	line-height: 1.42857143;
	margin: 20px;
	cursor: pointer;
	display: inline-block;
	+animation_active;

.app__menu-language-button:hover
	opacity: .7;

.app__menu-language-button-active
	color: $blue;



//CONTAINER
.app__container
	overflow-y: hidden;
	background-color: #fff;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	transform: translate(0, 0);
	transform: translate3d(0, 0, 0);
	background-color: #fff;

.app__menu-button
	font-size: 30px;
	width: 60px;
	height: 60px;
	margin: 0;
	position: absolute;
	right: 0;
	border: none;
	cursor: pointer;
	color: #fff;
	background-color: $blue;
	z-index: 99;
	+shadow1;

.app__menu-button:hover
	color: #f0f0f0;

.app__container-page-component
	width: 100%;
	height: 100vh;

.animate-swipe
	+animation_active;
