.lease_container
	height: 100%;
	margin: 0 !important;//Снять стиль с класса row

.lease_description
	position: relative;
	//background-color: $color_primary;
	background-color: #fff;
	padding: 0;//Снять стиль с класса col
	height: 100%;
	+shadow2;

.lease_header
	color: #fff;
	width: 100%;
	text-align: center;
	padding: 19px;
	//background-color: $color_primary_active;
	background-color: $color_primary;

.lease_header-h1
	font-size: 16px;

.lease_form
	width: 280px;
	height: 50%;
	overflow: auto;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;

.lease_form-content

.lease_helper
	overflow: hidden;
	padding: 0;//Снять стиль с класса col

.lease_map
	height: 100%;