.page-not-found
	width: 100%;
	height: 100vh;
	display: table;
	text-align: center;

.page-not-found__container
	display: table-cell;
	vertical-align: middle;

.page-not-found__title
	font-size: 400%;

.page-not-found__description
