.tenant
	display: block;
	color: #454545;
	width: 100%;
	background-color: #fff;
	position: relative;
	+shadow1;

.tenant__overlay
	position: absolute;
	width: 100%;
	height: 230px;
	z-index: 1;
.tenant__permission

.tenant__star
	position: absolute;
	right: 5;
	top: 10;
	font-size: 30px;
	color: #FFD700;
	cursor: pointer;

.tenant__image
	background: url(/public/img/icon-image.png) no-repeat;
	-webkit-background-position: center center;
	-khtml-background-position: center center;
	-ms-background-position: center center;
	-moz-background-position: center center;
	-o-background-position: center center;
	background-position: center center;
	background-size: 30%;
	height: 230px;

.tenant__image-container
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	position: relative;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;

.tenant__img
	max-width: none;
	min-width: auto;
	min-height: auto;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	+animation_active

.tenant__description
	height: 60px;

.tenant__street
	font-size: 15px;
	font-weight: bold;
	margin: 10px 15px;

.tenant__description-bottom
	margin: 0 15px 5px 15px;
	text-align: center;

.tenant__price
	font-family: RobotoL;
	color: $blue;
	float: right;

.tenant__reviews
	float: left;