.a_account_link
	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
	height: 135px;
	+animation_active
.a_account_link-active
	color: #fff;
	padding: 10px;
	background-color: $blue;

.a_account_link:hover
	opacity: .6;
.a_account_link-active:hover
	opacity: 1;