.menu_bar
	color: $black;
	display: inline-block;
	height: 100vh;
	width: 240px;
	position: absolute;
	overflow-y: auto;

.menu_bar_header, .menu_bar_header_login
	width: 100%;
	height: 60px;
	border-bottom: 1px solid #d0d0d0;

.menu_bar_header_login
	display: table;
	text-align: center;
	div
		display: table-cell;
		vertical-align: middle;
	button
		font-size: 18px;
		margin: 0 10px 0 10px;
		background-color: rgba(0,0,0,0);
		border: none;
		color: $black;
		font-weight: 700;
		cursor: pointer;
		+animation_active

.menu_bar_button_login
	font-size: 18px;
	margin: 0 10px 0 10px;
	background-color: rgba(0,0,0,0);
	border: none;
	color: $black;
	font-weight: 700;
	cursor: pointer;
	+animation_active

.menu_bar_account

