.button, .button-allWidth, .button-primary, .button-success, .button-warning, .button-danger, .button-primary-allWidth, .button-success-allWidth, .button-warning-allWidth, .button-danger-allWidth
	color: #fff;
	border: none;
	cursor: pointer;
	font-size: 14px;
	padding: 10px 15px 10px 15px;
	+animation_active

.button-allWidth, .button-primary-allWidth, .button-success-allWidth, .button-warning-allWidth, .button-danger-allWidth
	width: 100%;

.button-primary, .button-primary-allWidth
	background-color: $color_primary;

.button-primary:hover, .button-primary-allWidth:hover
	background-color: $color_primary_active;

.button-success, .button-success-allWidth
	background-color: $color_success;

.button-success:hover, .button-success-allWidth:hover
	background-color: $color_success_active;

.button-warning, .button-warning-allWidth
	background-color: $color_warning;

.button-warning:hover, .button-warning-allWidth:hover
	background-color: $color_warning_active;

.button-danger, .button-danger-allWidth
	background-color: $color_danger;

.button-danger:hover, .button-danger-allWidth:hover
	background-color: $color_danger_active;



.button_exit, .button_exit-success, .button_exit-warning, .button_exit-danger
	width: 35px;
	height: 35px;
	line-height: 35px;
	font-size: 25px;
	margin: 0;
	float: right;
	cursor: pointer;
	color: #fff;
	background-color: $color_primary;
	+animation_active

//default
.button_exit + div, .button_exit-success + div, .button_exit-warning + div, .button_exit-danger + div
	width: 100%;
	border-top: 5px solid $color_primary;
	+animation_active

.button_exit:hover
	background-color: $color_primary_active;
.button_exit:hover + div
	border-top: 5px solid $color_primary_active;

//success
.button_exit-success
	background-color: $color_success;
.button_exit-success + div
	border-top: 5px solid $color_success;
.button_exit-success:hover
	background-color: $color_success_active;
.button_exit-success:hover + div
	border-top: 5px solid $color_success_active;

//warning
.button_exit-warning
	background-color: $color_warning;
.button_exit-warning + div
	border-top: 5px solid $color_warning
.button_exit-warning:hover
	background-color: $color_warning_active;
.button_exit-warning:hover + div
	border-top: 5px solid $color_warning_active;

//danger
.button_exit-danger
	background-color: $color_danger;
.button_exit-danger + div
	border-top: 5px solid $color_danger;
.button_exit-danger:hover
	background-color: $color_danger_active;
.button_exit-danger:hover + div
	border-top: 5px solid $color_danger_active;

.button_loggout
	color: $black;
	+animation_active
.button_loggout:hover
	opacity: .6;