.div_modal
	position: absolute;
	top: 50%;
	left: 50%;
	right: auto;
	bottom: auto;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	border-radius: none;
	outline: none;
	+animation_active

.div_container_padding
	margin: 7px 0;
	padding: 3vw;
