.h2, .h2-primary, .h2-success, .h2-warning, .h2-danger
	margin: 0 0 20px;
	line-height: 1;
	font-size: 18px;

.h2-primary
	color: $color_primary

.h2-success
	color: $color_success

.h2-warning
	color: $color_warning

.h2-danger
	color: $color_danger