input:invalid
	box-shadow: none;

.input_text, .input_text-primary, .input_text-success, .input_text-warning, .input_text-danger
	width: 280px;
	outline: none;
	padding: 10px 15px 10px 15px;
	margin-bottom: 20px;
	border: 1px solid #d0d0d0;
	font-size: 14px;
	+animation_active

.input_text-primary:focus
	border: 1px solid $color_primary;

.input_text-success:focus
	border: 1px solid $color_success;

.input_text-warning:focus
	border: 1px solid $color_warning;

.input_text-danger:focus
	border: 1px solid $color_danger;

@media only screen and (max-device-width: 500px), screen and (max-width: 500px)
	.input_text, .input_text-primary, .input_text-success, .input_text-warning, .input_text-danger
		width: 210px;