.ReactModal__Overlay
	z-index: 2;
.ReactModal__Content--after-open
	position: absolute;
	top: 50%;
	left: 50%;
	right: auto;
	bottom: auto;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	border-radius: none;
	outline: none;
	z-index: 999;


.modal__form
	padding: 40px;

.modal__title
	margin: 0 0 20px;
	line-height: 1;
	font-size: 18px;
	color: $color_primary;

.modal__title_success
	color: $color_success;

.modal__title_warning
	color: $color_warning;

.modal__form_danger
	color: $color_danger;

.modal__footer
	background-color: #f2f2f2;
	color: $black;
	font-size: 12px;
	padding: 15px 40px;
	text-align: center;
	cursor: pointer;

@media only screen and (max-device-width: 500px), screen and (max-width: 500px)
	.modal__form
		padding: 25px;