@import "node_modules/flexbox-grid-sass/src/flexbox-grid.scss";
$black: #454545;
$blue: #33b5e5;
$blue_active: #178ab4;
$green: #48DD00;
$yellow: #FFCB00;
$bilobaFlower: #ab8ae7;

$color_primary: #33b5e5;
$color_primary_active: #117095;

$color_success: #48DD00;
$color_success_active: #52A629;

$color_warning: #FFB300;
$color_warning_active: #A67400;

$color_danger: #FD0006;
$color_danger_active: #A40004;

=animation_active
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;

=shadow1
	box-shadow: 0 1px 2px rgba(0,0,0,0.15);

=shadow2
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);

=shadow3
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
@font-face
	font-family: RobotoL;
	src: url(/public/fonts/Roboto-Light.ttf);
	font-weight: normal;

@font-face
	font-family: RobotoR;
	src: url(/public/fonts/Roboto-Regular.ttf);
	font-weight: normal;

@font-face
	font-family: 'fontello';
	src: url(/public/fonts/fontello.eot?13110451);
	src: url(/public/fonts/fontello.eot?13110451#iefix) format('embedded-opentype'), url(/public/fonts/fontello.woff?13110451) format('woff'), url(/public/fonts/fontello.ttf?13110451) format('truetype'), url(/public/fonts/fontello.svg?13110451#fontello) format('svg');
	font-weight: normal;
	font-style: normal;

@font-face
	font-family: Pacifico;
	src: url(/public/fonts/Pacifico-Regular.ttf);
	font-weight: normal;

*
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
a
	text-decoration: none;
body
	font-family: RobotoR;
	color: $black;
	font-size: 14px;
	line-height: 1.42857143;
	overflow: hidden;
.icon
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: .2em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
@media only screen and (min-device-width: 500px), screen and (min-width: 500px)
	::-webkit-scrollbar
		width: 10px;
		
	::-webkit-scrollbar-thumb
		border-width: 1px 1px 1px 2px;
		border-color: #555;
		background-color: #555;


@import './components/index.sass';

@import 'modal.sass';
@import 'input.sass';
@import 'buttons.sass';
