.col {
  box-sizing: border-box;
  flex: 0 0 100%;
  max-width: 100%;
  padding: 1rem .5rem 0 .5rem; }
  .col--no-gutters {
    padding: 0; }

.grid {
  box-sizing: border-box;
  padding: 0 .5rem; }
  .grid--container {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%; }
  .grid--no-gutters {
    padding: 0; }

.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 100%;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: -1rem -.5rem 1rem -.5rem;
  padding: 0; }
  .row:last-child {
    margin-bottom: 0; }
  .row--no-gutters {
    margin: 0; }

.text--left {
  text-align: left; }

.text--center {
  text-align: center; }

.text--right {
  text-align: right; }

.row--xs-top {
  align-items: flex-start; }

.row--xs-center {
  align-items: center; }

.row--xs-bottom {
  align-items: flex-end; }

.col--xs-align-top {
  align-self: flex-start; }

.col--xs-align-center {
  align-self: center; }

.col--xs-align-bottom {
  align-self: flex-end; }

.col--xs-first {
  order: -1; }

.col--xs-last {
  order: 1; }

.col--xs-reset {
  order: 0; }

.row--xs-reverse {
  flex-direction: row-reverse; }

.col--xs-flex {
  display: flex; }

.text--xs-right {
  text-align: right; }

.text--xs-left {
  text-align: left; }

.text--xs-center {
  text-align: center; }

.col--xs {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 1rem .5rem 0 .5rem; }

.col--xs-1 {
  width: 8.33333%;
  flex: none; }

.col--xs-2 {
  width: 16.66667%;
  flex: none; }

.col--xs-3 {
  width: 25%;
  flex: none; }

.col--xs-4 {
  width: 33.33333%;
  flex: none; }

.col--xs-5 {
  width: 41.66667%;
  flex: none; }

.col--xs-6 {
  width: 50%;
  flex: none; }

.col--xs-7 {
  width: 58.33333%;
  flex: none; }

.col--xs-8 {
  width: 66.66667%;
  flex: none; }

.col--xs-9 {
  width: 75%;
  flex: none; }

.col--xs-10 {
  width: 83.33333%;
  flex: none; }

.col--xs-11 {
  width: 91.66667%;
  flex: none; }

.col--xs-12 {
  width: 100%;
  flex: none; }

.col--xs-offset-1 {
  margin-left: 8.33333%; }

.col--xs-offset-2 {
  margin-left: 16.66667%; }

.col--xs-offset-3 {
  margin-left: 25%; }

.col--xs-offset-4 {
  margin-left: 33.33333%; }

.col--xs-offset-5 {
  margin-left: 41.66667%; }

.col--xs-offset-6 {
  margin-left: 50%; }

.col--xs-offset-7 {
  margin-left: 58.33333%; }

.col--xs-offset-8 {
  margin-left: 66.66667%; }

.col--xs-offset-9 {
  margin-left: 75%; }

.col--xs-offset-10 {
  margin-left: 83.33333%; }

.col--xs-offset-11 {
  margin-left: 91.66667%; }

.col--xs-offset-12 {
  margin-left: 100%; }

@media (min-width: 544px) {
  .row--sm-top {
    align-items: flex-start; }
  .row--sm-center {
    align-items: center; }
  .row--sm-bottom {
    align-items: flex-end; }
  .col--sm-align-top {
    align-self: flex-start; }
  .col--sm-align-center {
    align-self: center; }
  .col--sm-align-bottom {
    align-self: flex-end; }
  .col--sm-first {
    order: -1; }
  .col--sm-last {
    order: 1; }
  .col--sm-reset {
    order: 0; }
  .row--sm-reverse {
    flex-direction: row-reverse; }
  .col--sm-flex {
    display: flex; }
  .text--sm-right {
    text-align: right; }
  .text--sm-left {
    text-align: left; }
  .text--sm-center {
    text-align: center; }
  .col--sm {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1rem .5rem 0 .5rem; }
  .col--sm-1 {
    width: 8.33333%;
    flex: none; }
  .col--sm-2 {
    width: 16.66667%;
    flex: none; }
  .col--sm-3 {
    width: 25%;
    flex: none; }
  .col--sm-4 {
    width: 33.33333%;
    flex: none; }
  .col--sm-5 {
    width: 41.66667%;
    flex: none; }
  .col--sm-6 {
    width: 50%;
    flex: none; }
  .col--sm-7 {
    width: 58.33333%;
    flex: none; }
  .col--sm-8 {
    width: 66.66667%;
    flex: none; }
  .col--sm-9 {
    width: 75%;
    flex: none; }
  .col--sm-10 {
    width: 83.33333%;
    flex: none; }
  .col--sm-11 {
    width: 91.66667%;
    flex: none; }
  .col--sm-12 {
    width: 100%;
    flex: none; }
  .col--sm-offset-1 {
    margin-left: 8.33333%; }
  .col--sm-offset-2 {
    margin-left: 16.66667%; }
  .col--sm-offset-3 {
    margin-left: 25%; }
  .col--sm-offset-4 {
    margin-left: 33.33333%; }
  .col--sm-offset-5 {
    margin-left: 41.66667%; }
  .col--sm-offset-6 {
    margin-left: 50%; }
  .col--sm-offset-7 {
    margin-left: 58.33333%; }
  .col--sm-offset-8 {
    margin-left: 66.66667%; }
  .col--sm-offset-9 {
    margin-left: 75%; }
  .col--sm-offset-10 {
    margin-left: 83.33333%; }
  .col--sm-offset-11 {
    margin-left: 91.66667%; }
  .col--sm-offset-12 {
    margin-left: 100%; } }

@media (min-width: 768px) {
  .row--md-top {
    align-items: flex-start; }
  .row--md-center {
    align-items: center; }
  .row--md-bottom {
    align-items: flex-end; }
  .col--md-align-top {
    align-self: flex-start; }
  .col--md-align-center {
    align-self: center; }
  .col--md-align-bottom {
    align-self: flex-end; }
  .col--md-first {
    order: -1; }
  .col--md-last {
    order: 1; }
  .col--md-reset {
    order: 0; }
  .row--md-reverse {
    flex-direction: row-reverse; }
  .col--md-flex {
    display: flex; }
  .text--md-right {
    text-align: right; }
  .text--md-left {
    text-align: left; }
  .text--md-center {
    text-align: center; }
  .col--md {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1rem .5rem 0 .5rem; }
  .col--md-1 {
    width: 8.33333%;
    flex: none; }
  .col--md-2 {
    width: 16.66667%;
    flex: none; }
  .col--md-3 {
    width: 25%;
    flex: none; }
  .col--md-4 {
    width: 33.33333%;
    flex: none; }
  .col--md-5 {
    width: 41.66667%;
    flex: none; }
  .col--md-6 {
    width: 50%;
    flex: none; }
  .col--md-7 {
    width: 58.33333%;
    flex: none; }
  .col--md-8 {
    width: 66.66667%;
    flex: none; }
  .col--md-9 {
    width: 75%;
    flex: none; }
  .col--md-10 {
    width: 83.33333%;
    flex: none; }
  .col--md-11 {
    width: 91.66667%;
    flex: none; }
  .col--md-12 {
    width: 100%;
    flex: none; }
  .col--md-offset-1 {
    margin-left: 8.33333%; }
  .col--md-offset-2 {
    margin-left: 16.66667%; }
  .col--md-offset-3 {
    margin-left: 25%; }
  .col--md-offset-4 {
    margin-left: 33.33333%; }
  .col--md-offset-5 {
    margin-left: 41.66667%; }
  .col--md-offset-6 {
    margin-left: 50%; }
  .col--md-offset-7 {
    margin-left: 58.33333%; }
  .col--md-offset-8 {
    margin-left: 66.66667%; }
  .col--md-offset-9 {
    margin-left: 75%; }
  .col--md-offset-10 {
    margin-left: 83.33333%; }
  .col--md-offset-11 {
    margin-left: 91.66667%; }
  .col--md-offset-12 {
    margin-left: 100%; } }

@media (min-width: 992px) {
  .row--lg-top {
    align-items: flex-start; }
  .row--lg-center {
    align-items: center; }
  .row--lg-bottom {
    align-items: flex-end; }
  .col--lg-align-top {
    align-self: flex-start; }
  .col--lg-align-center {
    align-self: center; }
  .col--lg-align-bottom {
    align-self: flex-end; }
  .col--lg-first {
    order: -1; }
  .col--lg-last {
    order: 1; }
  .col--lg-reset {
    order: 0; }
  .row--lg-reverse {
    flex-direction: row-reverse; }
  .col--lg-flex {
    display: flex; }
  .text--lg-right {
    text-align: right; }
  .text--lg-left {
    text-align: left; }
  .text--lg-center {
    text-align: center; }
  .col--lg {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1rem .5rem 0 .5rem; }
  .col--lg-1 {
    width: 8.33333%;
    flex: none; }
  .col--lg-2 {
    width: 16.66667%;
    flex: none; }
  .col--lg-3 {
    width: 25%;
    flex: none; }
  .col--lg-4 {
    width: 33.33333%;
    flex: none; }
  .col--lg-5 {
    width: 41.66667%;
    flex: none; }
  .col--lg-6 {
    width: 50%;
    flex: none; }
  .col--lg-7 {
    width: 58.33333%;
    flex: none; }
  .col--lg-8 {
    width: 66.66667%;
    flex: none; }
  .col--lg-9 {
    width: 75%;
    flex: none; }
  .col--lg-10 {
    width: 83.33333%;
    flex: none; }
  .col--lg-11 {
    width: 91.66667%;
    flex: none; }
  .col--lg-12 {
    width: 100%;
    flex: none; }
  .col--lg-offset-1 {
    margin-left: 8.33333%; }
  .col--lg-offset-2 {
    margin-left: 16.66667%; }
  .col--lg-offset-3 {
    margin-left: 25%; }
  .col--lg-offset-4 {
    margin-left: 33.33333%; }
  .col--lg-offset-5 {
    margin-left: 41.66667%; }
  .col--lg-offset-6 {
    margin-left: 50%; }
  .col--lg-offset-7 {
    margin-left: 58.33333%; }
  .col--lg-offset-8 {
    margin-left: 66.66667%; }
  .col--lg-offset-9 {
    margin-left: 75%; }
  .col--lg-offset-10 {
    margin-left: 83.33333%; }
  .col--lg-offset-11 {
    margin-left: 91.66667%; }
  .col--lg-offset-12 {
    margin-left: 100%; } }

@media (min-width: 1200px) {
  .row--xl-top {
    align-items: flex-start; }
  .row--xl-center {
    align-items: center; }
  .row--xl-bottom {
    align-items: flex-end; }
  .col--xl-align-top {
    align-self: flex-start; }
  .col--xl-align-center {
    align-self: center; }
  .col--xl-align-bottom {
    align-self: flex-end; }
  .col--xl-first {
    order: -1; }
  .col--xl-last {
    order: 1; }
  .col--xl-reset {
    order: 0; }
  .row--xl-reverse {
    flex-direction: row-reverse; }
  .col--xl-flex {
    display: flex; }
  .text--xl-right {
    text-align: right; }
  .text--xl-left {
    text-align: left; }
  .text--xl-center {
    text-align: center; }
  .col--xl {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1rem .5rem 0 .5rem; }
  .col--xl-1 {
    width: 8.33333%;
    flex: none; }
  .col--xl-2 {
    width: 16.66667%;
    flex: none; }
  .col--xl-3 {
    width: 25%;
    flex: none; }
  .col--xl-4 {
    width: 33.33333%;
    flex: none; }
  .col--xl-5 {
    width: 41.66667%;
    flex: none; }
  .col--xl-6 {
    width: 50%;
    flex: none; }
  .col--xl-7 {
    width: 58.33333%;
    flex: none; }
  .col--xl-8 {
    width: 66.66667%;
    flex: none; }
  .col--xl-9 {
    width: 75%;
    flex: none; }
  .col--xl-10 {
    width: 83.33333%;
    flex: none; }
  .col--xl-11 {
    width: 91.66667%;
    flex: none; }
  .col--xl-12 {
    width: 100%;
    flex: none; }
  .col--xl-offset-1 {
    margin-left: 8.33333%; }
  .col--xl-offset-2 {
    margin-left: 16.66667%; }
  .col--xl-offset-3 {
    margin-left: 25%; }
  .col--xl-offset-4 {
    margin-left: 33.33333%; }
  .col--xl-offset-5 {
    margin-left: 41.66667%; }
  .col--xl-offset-6 {
    margin-left: 50%; }
  .col--xl-offset-7 {
    margin-left: 58.33333%; }
  .col--xl-offset-8 {
    margin-left: 66.66667%; }
  .col--xl-offset-9 {
    margin-left: 75%; }
  .col--xl-offset-10 {
    margin-left: 83.33333%; }
  .col--xl-offset-11 {
    margin-left: 91.66667%; }
  .col--xl-offset-12 {
    margin-left: 100%; } }

@font-face {
  font-family: RobotoL;
  src: url(/public/fonts/Roboto-Light.ttf);
  font-weight: normal; }

@font-face {
  font-family: RobotoR;
  src: url(/public/fonts/Roboto-Regular.ttf);
  font-weight: normal; }

@font-face {
  font-family: 'fontello';
  src: url(/public/fonts/fontello.eot?13110451);
  src: url(/public/fonts/fontello.eot?13110451#iefix) format("embedded-opentype"), url(/public/fonts/fontello.woff?13110451) format("woff"), url(/public/fonts/fontello.ttf?13110451) format("truetype"), url(/public/fonts/fontello.svg?13110451#fontello) format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: Pacifico;
  src: url(/public/fonts/Pacifico-Regular.ttf);
  font-weight: normal; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none; }

a {
  text-decoration: none; }

body {
  font-family: RobotoR;
  color: #454545;
  font-size: 14px;
  line-height: 1.42857143;
  overflow: hidden; }

.icon {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

@media only screen and (min-device-width: 500px), screen and (min-width: 500px) {
  ::-webkit-scrollbar {
    width: 10px; }
  ::-webkit-scrollbar-thumb {
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #555; } }

.app__menu {
  color: #454545;
  display: inline-block;
  height: 100vh;
  width: 240px;
  position: fixed;
  top: 0;
  right: 0;
  overflow-y: auto; }

.app__menu-header {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #d0d0d0;
  text-align: center;
  background-color: #fff; }

.app__menu-header-button {
  font-size: 18px;
  margin: 0 10px 0 10px;
  background-color: transparent;
  border: none;
  color: #454545;
  font-weight: 700;
  cursor: pointer;
  line-height: 60px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease; }

.app__menu-header-button:hover {
  opacity: .7; }

.app__menu-link {
  color: #454545;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  cursor: pointer;
  padding: 0 10% 0 15%;
  font-size: 17px;
  line-height: 45px;
  margin: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease; }

.app__menu-link:hover {
  opacity: .7; }

.app__menu-link_active {
  color: #fff;
  background-color: #33b5e5; }

.app__menu-language {
  position: absolute;
  width: 100%;
  border-top: 1px solid #d0d0d0;
  text-align: center;
  left: 0;
  bottom: 0; }

.app__menu-language-button {
  color: #454545;
  background-color: transparent;
  border: none;
  font-size: 14px;
  line-height: 1.42857143;
  margin: 20px;
  cursor: pointer;
  display: inline-block;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease; }

.app__menu-language-button:hover {
  opacity: .7; }

.app__menu-language-button-active {
  color: #33b5e5; }

.app__container {
  overflow-y: hidden;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transform: translate(0, 0);
  transform: translate3d(0, 0, 0);
  background-color: #fff; }

.app__menu-button {
  font-size: 30px;
  width: 60px;
  height: 60px;
  margin: 0;
  position: absolute;
  right: 0;
  border: none;
  cursor: pointer;
  color: #fff;
  background-color: #33b5e5;
  z-index: 99;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); }

.app__menu-button:hover {
  color: #f0f0f0; }

.app__container-page-component {
  width: 100%;
  height: 100vh; }

.animate-swipe {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease; }

.intro {
  width: 100%;
  height: 2000px;
  background-color: #93d2fe; }

.intro__image {
  position: absolute;
  top: 20%;
  left: 10%;
  height: 60%; }

.intro__title {
  color: #fff;
  font-size: 60px; }

.lease_container {
  height: 100%;
  margin: 0 !important; }

.lease_description {
  position: relative;
  background-color: #fff;
  padding: 0;
  height: 100%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); }

.lease_header {
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 19px;
  background-color: #33b5e5; }

.lease_header-h1 {
  font-size: 16px; }

.lease_form {
  width: 280px;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

.lease_helper {
  overflow: hidden;
  padding: 0; }

.lease_map {
  height: 100%; }

.tenant {
  display: block;
  color: #454545;
  width: 100%;
  background-color: #fff;
  position: relative;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); }

.tenant__overlay {
  position: absolute;
  width: 100%;
  height: 230px;
  z-index: 1; }

.tenant__star {
  position: absolute;
  right: 5;
  top: 10;
  font-size: 30px;
  color: #FFD700;
  cursor: pointer; }

.tenant__image {
  background: url(/public/img/icon-image.png) no-repeat;
  -webkit-background-position: center center;
  -khtml-background-position: center center;
  -ms-background-position: center center;
  -moz-background-position: center center;
  -o-background-position: center center;
  background-position: center center;
  background-size: 30%;
  height: 230px; }

.tenant__image-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%; }

.tenant__img {
  max-width: none;
  min-width: auto;
  min-height: auto;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease; }

.tenant__description {
  height: 60px; }

.tenant__street {
  font-size: 15px;
  font-weight: bold;
  margin: 10px 15px; }

.tenant__description-bottom {
  margin: 0 15px 5px 15px;
  text-align: center; }

.tenant__price {
  font-family: RobotoL;
  color: #33b5e5;
  float: right; }

.tenant__reviews {
  float: left; }

.filter {
  width: 100%;
  height: 60px;
  margin-bottom: 1rem; }

.filter__element {
  background-color: #fff;
  position: fixed;
  z-index: 2;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); }

.page-not-found {
  width: 100%;
  height: 100vh;
  display: table;
  text-align: center; }

.page-not-found__container {
  display: table-cell;
  vertical-align: middle; }

.page-not-found__title {
  font-size: 400%; }

.ReactModal__Overlay {
  z-index: 2; }

.ReactModal__Content--after-open {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: none;
  outline: none;
  z-index: 999; }

.modal__form {
  padding: 40px; }

.modal__title {
  margin: 0 0 20px;
  line-height: 1;
  font-size: 18px;
  color: #33b5e5; }

.modal__title_success {
  color: #48DD00; }

.modal__title_warning {
  color: #FFB300; }

.modal__form_danger {
  color: #FD0006; }

.modal__footer {
  background-color: #f2f2f2;
  color: #454545;
  font-size: 12px;
  padding: 15px 40px;
  text-align: center;
  cursor: pointer; }

@media only screen and (max-device-width: 500px), screen and (max-width: 500px) {
  .modal__form {
    padding: 25px; } }

input:invalid {
  box-shadow: none; }

.input_text, .input_text-primary, .input_text-success, .input_text-warning, .input_text-danger {
  width: 280px;
  outline: none;
  padding: 10px 15px 10px 15px;
  margin-bottom: 20px;
  border: 1px solid #d0d0d0;
  font-size: 14px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease; }

.input_text-primary:focus {
  border: 1px solid #33b5e5; }

.input_text-success:focus {
  border: 1px solid #48DD00; }

.input_text-warning:focus {
  border: 1px solid #FFB300; }

.input_text-danger:focus {
  border: 1px solid #FD0006; }

@media only screen and (max-device-width: 500px), screen and (max-width: 500px) {
  .input_text, .input_text-primary, .input_text-success, .input_text-warning, .input_text-danger {
    width: 210px; } }

.button, .button-allWidth, .button-primary, .button-success, .button-warning, .button-danger, .button-primary-allWidth, .button-success-allWidth, .button-warning-allWidth, .button-danger-allWidth {
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 14px;
  padding: 10px 15px 10px 15px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease; }

.button-allWidth, .button-primary-allWidth, .button-success-allWidth, .button-warning-allWidth, .button-danger-allWidth {
  width: 100%; }

.button-primary, .button-primary-allWidth {
  background-color: #33b5e5; }

.button-primary:hover, .button-primary-allWidth:hover {
  background-color: #117095; }

.button-success, .button-success-allWidth {
  background-color: #48DD00; }

.button-success:hover, .button-success-allWidth:hover {
  background-color: #52A629; }

.button-warning, .button-warning-allWidth {
  background-color: #FFB300; }

.button-warning:hover, .button-warning-allWidth:hover {
  background-color: #A67400; }

.button-danger, .button-danger-allWidth {
  background-color: #FD0006; }

.button-danger:hover, .button-danger-allWidth:hover {
  background-color: #A40004; }

.button_exit, .button_exit-success, .button_exit-warning, .button_exit-danger {
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 25px;
  margin: 0;
  float: right;
  cursor: pointer;
  color: #fff;
  background-color: #33b5e5;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease; }

.button_exit + div, .button_exit-success + div, .button_exit-warning + div, .button_exit-danger + div {
  width: 100%;
  border-top: 5px solid #33b5e5;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease; }

.button_exit:hover {
  background-color: #117095; }

.button_exit:hover + div {
  border-top: 5px solid #117095; }

.button_exit-success {
  background-color: #48DD00; }

.button_exit-success + div {
  border-top: 5px solid #48DD00; }

.button_exit-success:hover {
  background-color: #52A629; }

.button_exit-success:hover + div {
  border-top: 5px solid #52A629; }

.button_exit-warning {
  background-color: #FFB300; }

.button_exit-warning + div {
  border-top: 5px solid #FFB300; }

.button_exit-warning:hover {
  background-color: #A67400; }

.button_exit-warning:hover + div {
  border-top: 5px solid #A67400; }

.button_exit-danger {
  background-color: #FD0006; }

.button_exit-danger + div {
  border-top: 5px solid #FD0006; }

.button_exit-danger:hover {
  background-color: #A40004; }

.button_exit-danger:hover + div {
  border-top: 5px solid #A40004; }

.button_loggout {
  color: #454545;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease; }

.button_loggout:hover {
  opacity: .6; }
